{
  "tabWidth": 2,
  "arrowParents": "avoid",
  "useTabs": true,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true
}
